<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    
    <title>Admin Page - Edit User</title>
</head>
<body>
    <div class="container-sm">
        <nav class="navbar bg-light">
            <div class="container-fluid">
                <a class="navbar-brand"><h1>Admin Page -  Form Edit User</h1></a>
                <a href="/logout" class="badge bg-danger">Logout</a>
            </div>
        </nav>
        <br>
        <a href="/admin" type="button" class="btn btn-lg btn-warning btn-lg"><< Cancel</a>
        <br>
        <br>
        <% if (data) { %>
        <form action="/admin/edituser" method="post">
            <input type="hidden" name="usergame_id" value="<%= data.id %>">
            <input type="hidden" name="userbiodata_id" value="<%= data.Userbiodatum.id %>">
            <div class="mb-3 row">
                <label for="firstname" class="col-sm-2 col-form-label">First Name</label>
                <div class="col-sm-10">
                <input type="text" class="form-control" id="firstname" name="firstname" placeholder="First Name" value="<%= data.Userbiodatum.firstname %>">
                </div>
            </div>
            <div class="mb-3 row">
                <label for="lastname" class="col-sm-2 col-form-label">Last Name</label>
                <div class="col-sm-10">
                <input type="text" class="form-control" id="lastname" name="lastname" value="<%= data.Userbiodatum.lastname %>">
                </div>
            </div>
            <div class="mb-3 row">
                <label for="email" class="col-sm-2 col-form-label">email</label>
                <div class="col-sm-10">
                <input type="email" class="form-control" id="email" name="email" value="<%= data.Userbiodatum.email %>">
                </div>
            </div>
            <div class="mb-3 row">
                <label for="username" class="col-sm-2 col-form-label">username</label>
                <div class="col-sm-10">
                <input type="text" class="form-control" id="username" name="username" value="<%= data.username %>">
                </div>
            </div>
            <div class="mb-3 row">
                <label for="phone" class="col-sm-2 col-form-label">Phone</label>
                <div class="col-sm-10">
                <input type="text" class="form-control" id="phone" name="phone" value="<%= data.Userbiodatum.phone %>">
                </div>
            </div>
            <div class="mb-3 row">
                <label for="address" class="col-sm-2 col-form-label">Address</label>
                <div class="col-sm-10">
                <input type="text" class="form-control" id="address" name="address" value="<%= data.Userbiodatum.address %>">
                </div>
            </div>
            <button type="submit" class="btn btn-lg btn-primary float-end">&nbsp;&nbsp;Update&nbsp;&nbsp;</button>
        </form>
        <% } %>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
</body>
</html>


